
.App {
  width: 100%;
}

.dashboardBody {
  display: flex;
  width: 100%;
}

.dashboadLeft {
  width: 20%;
  
}

.dashboadRight {
  width: 100%;
  background-color: #E5E5E5;
}

ul {
  list-style: none;
  
}

.blackCircle {
  background-color: black;
  border-radius: 50%;
}

input{
  outline: none;
}
.circle{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .dashboardBody {
    position: relative;
    top: 50px;
    /* background-color: black; */
  }
}

#raphael-paper-2 > g.raphael-group-3-parentgroup > g.raphael-group-8-chart-exo > g.raphael-group-103-timenav-exo > g.raphael-group-127-brush-group{
  display: none;
}