.ChartSection {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin: 1em 0; */
    margin-left: 2em;

}

.chart2 {
    background-color: #fff;
    width: 65%;
    margin-right: 0.5em;
    /* height: 300px; */
    border-radius: 2px;
}

.progress {
    width: 30%;
}

@media screen and (max-width: 950px) {
    .ChartSection {
        flex-direction: column;
    }

    .chart2 {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .progress {
        margin-top: 3em;
        margin: 0 auto;
        width: 100%;
    }
}