* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
  font-family: Segoe UI;
  /* border: 1px solid black; */
  color: #787C90;
}

*:focus {
  outline: none;
}

/* body {
  background-color: rgb(240, 242, 247);
  margin: 0;
} */